{% extends 'base.html.twig' %}
{% form_theme participantForm 'form/bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Sortir.com | Mon profil{% endblock %}
{% block titre %}Mon Profil{% endblock %}

{% block body %}
    {{ form_start(participantForm) }}
<div class="row justify-content-center text-truncate">
    <div class="col-12 col-md-4">
        {% if participant.imageFilename != null %}
            <img src="{{ asset('uploads/images/' ~ participant.imageFilename) }}" class="img-thumbnail img-fluid" alt="Image de profil" style="max-height: 200px;">
        {% else %}
            <img src="{{ asset('uploads/images/avatarNeutre.png') }}" class="img-thumbnail img-fluid" alt="Image de profil" style="max-height: 200px;">
        {% endif %}
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(participantForm.pseudo) }}
        {{ form_row(participantForm.prenom) }}
        {{ form_row(participantForm.nom) }}
        {{ form_row(participantForm.telephone) }}
        {{ form_row(participantForm.mail) }}
        {{ form_row(participantForm.motPasse) }}
        {{ form_row(participantForm.newPassword) }}
        {{ form_row(participantForm.campus) }}
        {{ form_row(participantForm.image) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="button" name="annuler" class="btn btn-primary bouton-annuler">Annuler</button>
    </div>

    {{ form_end(participantForm) }}

</div>
{% endblock %}
