{% extends 'base.html.twig' %}


{% block title %}Sortir.com{% endblock %}
{% block titre %}Bienvenue !{% endblock %}

{% block body %}
    {{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}

    <div class="spinner-border js-loading" role="status" aria-hidden="true" style="display: none">
        <span class="sr-only">Loading...</span>
    </div>
    <div>
        <h3>Filtrer les sorties</h3>
        {{ form_row(form.campus) }}
        {{ form_row(form.q) }}
        {{ form_row(form.dateMin) }}
        {{ form_row(form.dateMax) }}
        {{ form_row(form.organisateur) }}
        {{ form_row(form.inscrit) }}
        {{ form_row(form.nonInscrit) }}
        {{ form_row(form.fini) }}

        <button class="btn btn-primary">rechercher</button>
        {{ form_end(form) }}
    </div>
    <div class="row justify-content-center tableFixHead">
        <table class="table table-striped table-bordered table-sm " cellspacing="0"
               width="100%">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="scrolltab">
            {% for sortie in sorties %}
                <tr class="sortie">
                    <td>{{ sortie.nom}}</td>
                    <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i')}}</td>
                    <td>{{ sortie.dateLimiteInscription |date('d/m/Y') }}</td>
                    <td>{{ sortie.participants | length}}/{{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle}}</td>
                    <td>
                        {% for participant in sortie.participants %}
                            {% if app.user.username == participant.username %}
                                x
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><a href="{{ path ('participant_user', {'id' : sortie.organisateur.idParticipant }) }}">{{ sortie.organisateur.pseudo}}</a></td>
                    <td>
                        {% set myVal = false %}
                        {#  si on est l'organisateur de la sortie #}
                        {% if app.user.username == sortie.organisateur.username %}
                            {% if sortie.etat.libelle == 'créée' %}
                                <a href="{{ path ('sortie_modifier') }}">Modifier</a> - Publier
                            {% elseif sortie.etat.libelle == 'ouverte' or sortie.etat.libelle == 'clôturée' %}
                                <a href="{{ path ('sortie_afficher') }}">Afficher</a> - <a href="{{ path ('sortie_annuler') }}">Annuler</a>
                            {% else %}
                                <a href="{{ path ('sortie_afficher') }}">Afficher</a>
                            {% endif %}
                            {% set myVal = true %}
                        {% endif %}

                        {% for participant in sortie.participants %}
                            {#  si on est inscrit à la sortie #}
                            {% if app.user.username == participant.username %}
                                {% if sortie.etat.libelle == 'ouverte' or sortie.etat.libelle == 'clôturée' %}
                                    <a href="{{ path ('sortie_afficher') }}">Afficher</a> - Se désister
                                {% elseif sortie.etat.libelle == 'créée' %}
                                    <p></p>
                                {% else %}
                                    <a href="{{ path ('sortie_afficher') }}">Afficher</a>
                                {% endif %}
                            {% set myVal = true %}
                            {% endif %}
                        {% endfor %}
                            {#  autrement : pas orga, pas inscrit #}
                            {% if myVal == false %}
                                {% if sortie.etat.libelle == 'ouverte' %}
                                    <a href="{{ path ('sortie_afficher') }}">Afficher</a> - S'inscrire'
                                {% elseif sortie.etat.libelle == 'créée' %}
                                    <p></p>
                                {% else %}
                                    <a href="{{ path ('sortie_afficher') }}">Afficher</a>
                                {% endif %}
                            {% endif %}

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="d-flex flex-row">
        <a class="btn btn-primary p-2" href="{{ path ('sortie_nouvelle') }}">Créer une sortie</a>
    </div>

{% endblock %}
