{% extends 'base.html.twig' %}
{% form_theme participantForm 'form/bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Sortir.com | Mon profil{% endblock %}
{% block titre %}Mon Profil{% endblock %}

{% block body %}
    {{ form_start(participantForm) }}
<div class="row justify-content-center">
    <div class="col-6">
        {{ form_row(participantForm.pseudo) }}
        {{ form_row(participantForm.prenom) }}
        {{ form_row(participantForm.nom) }}
        {{ form_row(participantForm.telephone) }}
        {{ form_row(participantForm.mail) }}
        {{ form_row(participantForm.motPasse) }}
        {{ form_row(participantForm.campus) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a class="btn btn-primary" href="{{ path ('main_index') }}">Annuler</a>
    </div>


    {{ form_end(participantForm) }}

</div>
{% endblock %}
