{% extends 'base.html.twig' %}

{% block title %}Modifier les sorties{% endblock %}
{% block titre %}Modifier les sorties{% endblock %}

{% block body %}
    {{ form_start(sortieForm) }}
    <div class="row justify-content-around">
        <div class="col-5 justify-content-center text-left">
            {{ form_errors(sortieForm.nom) }}
            <div class="form-group row">
                <div class="flex-fill align-self-center">{{ form_label(sortieForm.nom) }}</div>
                <div class="flex-fill">{{ form_widget(sortieForm.nom) }}</div>
            </div>
            {{ form_errors(sortieForm.dateHeureDebut) }}
            <div class="form-group row">
                <div class="flex-fill align-self-center">{{ form_label(sortieForm.dateHeureDebut) }}</div>
                <div class="flex-fill">{{ form_widget(sortieForm.dateHeureDebut) }}</div>
            </div>
            {# | date('d/m/Y H:i') ou | date('d/m/Y')}} #}
            {{ form_errors(sortieForm.dateLimiteInscription) }}
            <div class="form-group row">
                <div class="flex-fill align-self-center">{{ form_label(sortieForm.dateLimiteInscription) }}</div>
                <div class="flex-fill">{{ form_widget(sortieForm.dateLimiteInscription) }}</div>
            </div>
            {{ form_errors(sortieForm.nbInscriptionsMax) }}
            <div class="form-group row">
                <div class="flex-fill align-self-center">{{ form_label(sortieForm.nbInscriptionsMax) }}</div>
                <div class="flex-fill">{{ form_widget(sortieForm.nbInscriptionsMax) }}</div>
            </div>
            {{ form_errors(sortieForm.duree) }}
            <div class="form-group row">
                <div class="flex-fill align-self-center">{{ form_label(sortieForm.duree) }} </div>
                <div class="flex-fill">{{ form_widget(sortieForm.duree) }} minutes</div>
            </div>
            {{ form_errors(sortieForm.infosSortie) }}
            <div class="form-group row">
                <div class="flex-fill align-self-center">{{ form_label(sortieForm.infosSortie) }} </div>
                <div class="flex-fill">{{ form_widget(sortieForm.infosSortie,{ 'attr': {'rows': '4'} }) }} </div>
            </div>
        </div>
        <div class=" col-offset-1 col-5 justify-content-center text-left">
            {{ form_errors(sortieForm.siteOrganisateur) }}
            <div class="form-group row">
                <div class="flex-fill align-self-center">{{ form_label(sortieForm.siteOrganisateur) }} </div>
                <div class="flex-fill">{{ form_widget(sortieForm.siteOrganisateur) }} </div>
            </div>
            <div class="form-group row">
                <div class="flex-fill align-self-center" for="lieu">{{ form_label(sortieForm.lieu)}} </div>
                <div class="flex-fill" id="lieu">  {{ form_widget(sortieForm.lieu) }} </div>
                <div class="col-2">
                        <button type="button" class="btn btn-primary m-0" data-toggle="modal" data-target="#lieuModal">+</button>
                </div>
            </div>
            <div class="form-group row">
                <label for="rue" class="flex-fill">Rue :</label>
                <div id="rue" class="text-dark flex-fill">{{ sortie.lieu.rue }}</div>
            </div>
            <div class="form-group row">
                <label for="ville" class="flex-fill">Ville :</label>
                <div id="ville" class="text-dark flex-fill">{{ sortie.lieu.ville.__toString }}</div>
            </div>
            <div class="form-group row">
                <label for="latitude" class="flex-fill">Latitude</label>
                <div id="latitude" class="flex-fill text-dark">{{ sortie.lieu.latitude }}</div>
            </div>
            <div class="form-group row">
                <label for="longitude" class="flex-fill">Longitude</label>
                <div id="longitude" class="flex-fill text-dark">{{ sortie.lieu.longitude }}</div>
            </div>
        </div>
    </div>
    <div class="col">
        <button type="submit" name="enregistrer" class="btn btn-primary">Enregistrer</button>
        <button type="submit" name="publier" class="btn btn-primary">Publier la sortie</button>
        <button type="submit" name="supprimer" class="btn btn-primary">Supprimer la sortie</button>
        <button type="submit" name="annuler" class="btn btn-primary">Annuler</button>
    </div>
    {{ form_end(sortieForm) }}
    <div class="modal fade" id="lieuModal" tabindex="-1" aria-labelledby="lieuModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lieuModalLabel">Nouveau lieu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="lieuForm">
                    {% include 'lieu/nouveau.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        let $lieu = $('#sortie_update_lieu');
        let $ville = $('#sortie_update_ville');
        let $lieuVille = $('#lieu_ville');
        let $lieuModal = $('#lieuModal');
        let $lieuForm = $('#lieuForm');
        let $nouveauLieuSubmit = $('#submit_lieu');

        $nouveauLieuSubmit.on('click', submitLieuForm);

        $lieu.change(function() {
            let value = $lieu.val();
            if (value !== undefined && value !== '') {
                let $url = Routing.generate('api_lieu_get', {id: $lieu.val()});                 // à modifier !!
                $.ajax({
                    url: $url,
                    type: 'GET',
                    success: function (response) {
                        console.log(response.data);
                        if (response.status === 'OK') {
                            $('#rue').html(response.data.rue);
                            $('#ville').html(response.data.ville.codePostal + ' ' + response.data.ville.nom);       // pk il veut pas de nom ?
                            $('#latitude').html(response.data.latitude);
                            $('#longitude').html(response.data.longitude);

                        } else {
                            $('#rue').html('');
                            $('#ville').html('');
                            $('#latitude').html('');
                            $('#longitude').html('');
                        }
                    },
                    error: function () {
                        $('#rue').html('');
                        $('#ville').html('');
                        $('#latitude').html('');
                        $('#longitude').html('');
                    }
                });
            } else {
                $('#rue').html('');
                $('#ville').html('');
                $('#latitude').html('');
                $('#longitude').html('');
            }
        });

        function submitLieuForm() {
            let $url = Routing.generate('api_lieu_nouveau', {});
            let data = {};
            data['nom'] = $('#lieu_nom').val();
            data['rue'] = $('#lieu_rue').val();
            data['latitude'] = $('#lieu_latitude').val();
            data['longitude'] = $('#lieu_longitude').val();
            data['ville'] = $('#lieu_ville').val();
            data['_token'] = $(`#lieu__token`).val();
            $.ajax({
                url : $url,
                type: 'POST',
                data: JSON.stringify(data),
                success: function(response) {
                    $lieuForm.html(response.data.form);

                    $lieuVille = $('#lieu_ville');
                    $lieuVille.change(function() {
                        $ville.val($lieuVille.val());
                    });
                    $nouveauLieuSubmit = $('#submit_lieu');
                    $nouveauLieuSubmit.on('click', submitLieuForm);

                    if (response.status === 'OK') {
                        $lieuModal.modal('toggle');
                        $lieu.prop('disabled', false);
                        $lieu.append('<option value="'+response.data.lieu.id+'">'+response.data.lieu.nom+'</option>');
                        $('#sortie_lieu option[value="' + response.data.lieu.id + '"]').prop('selected', true);
                        $lieu.change();
                        $('#lieu_nom').val('');
                        $('#lieu_rue').val('');
                        $('#lieu_latitude').val('');
                        $('#lieu_longitude').val('');
                    }
                }
            });
        }
        $lieu.change();
    </script>

{% endblock %}