{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}
{% block titre %}Créer une sortie{% endblock %}

{% block body %}
    {{ form_start(sortieForm) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.dateHeureDebut) }}
            {{ form_row(sortieForm.dateLimiteInscription) }}
            {{ form_row(sortieForm.nbInscriptionsMax) }}
            {{ form_row(sortieForm.duree) }}
            {{ form_row(sortieForm.infosSortie,{ 'attr': {'rows': '4'} }) }}
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="campus_div">Site organisateur</label>
                <div id="campus_div" class="form-control-plaintext text-dark">{{ app.user.campus.nom }}</div>
            </div>
            {{ form_row(sortieForm.ville) }}
            <div class="form-group">
                {{ form_label(sortieForm.lieu) }}
                <div class="form-row">
                    <div class="col-10">
                        {{ form_widget(sortieForm.lieu) }}
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-primary m-0" data-toggle="modal" data-target="#lieuModal">+</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="lieu_rue">Rue</label>
                <div id="lieu_rue" class="form-control-plaintext text-dark">&nbsp;</div>
            </div>
            <div class="form-group">
                <label for="lieu_code_postal">Code postal</label>
                <div id="lieu_code_postal" class="form-control-plaintext text-dark">&nbsp;</div>
            </div>
            <div class="form-group">
                <label for="lieu_latitude">Latitude</label>
                <div id="lieu_latitude" class="form-control-plaintext text-dark">&nbsp;</div>
            </div>
            <div class="form-group">
                <label for="lieu_longitude">Longitude</label>
                <div id="lieu_longitude" class="form-control-plaintext text-dark">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="submit" class="btn btn-primary">Publier la sortie</button>
        <button type="submit" class="btn btn-primary">Annuler</button>
    </div>

    {{ form_end(sortieForm) }}

    <div class="modal fade" id="lieuModal" tabindex="-1" aria-labelledby="lieuModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lieuModalLabel">Nouveau lieu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(lieuForm) }}
                    {{ form_widget(lieuForm) }}
                    {{ form_end(lieuForm) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        let $ville = $('#sortie_ville');
        $lieu = $('#sortie_lieu');
        $ville.change(function() {
            $('#sortie_nouveauLieu_ville').val($ville.val());
            let $url = Routing.generate('api_ville_get_lieu', {id: $ville.val()});
            $.ajax({
                url : $url,
                type: 'GET',
                success: function(data) {
                    if (data.length > 0) {
                        $lieu.prop('disabled', false);
                        $lieu.html('<option value="">Sélectionnez un lieu</option>');
                        for (let lieu in data) {
                            $lieu.append('<option value="'+ data[lieu].id +'">'+ data[lieu].nom +'</option>')
                        }
                    } else {
                        $lieu.html('<option value="">Aucun lieu</option>');
                        $lieu.prop('disabled', true);
                    }
                }
            });
        });
        $lieu.change(function() {
            let $url = Routing.generate('api_lieu_get', {id: $lieu.val()});
            $.ajax({
                url : $url,
                type: 'GET',
                success: function(data) {
                    if (data != undefined) {
                        $('#lieu_rue').html(data.nom);
                        $('#lieu_code_postal').html(data.ville.codePostal);
                        $('#lieu_latitude').html(data.latitude);
                        $('#lieu_longitude').html(data.longitude);
                    } else {

                    }
                }
            });
        });
        // // When ville gets selected ...
        // $ville.change(function() {
        //     // ... preset the same field in nouveauLieu and ...
        //     $('#sortie_nouveauLieu_ville').val($ville.val());
        //     // ... retrieve the corresponding form.
        //     let $form = $(this).closest('form');
        //     // Simulate form data, but only include the selected ville value.
        //     let data = {};
        //     data[$ville.attr('name')] = $ville.val();
        //     // Also adding datetime fields cause they cause an error
        //     let $dateHeureDebut = $('#sortie_dateHeureDebut');
        //     let $dateLimiteInscription = $('#sortie_dateLimiteInscription');
        //     data[$dateHeureDebut.attr('name')] = $dateHeureDebut.val();
        //     data[$dateLimiteInscription.attr('name')] = $dateLimiteInscription.val();
        //     // Submit data via AJAX to the form's action path.
        //     $.ajax({
        //         url : $form.attr('action'),
        //         type: $form.attr('method'),
        //         data : data,
        //         success: function(html) {
        //             console.log('success');
        //             $lieu = $('#sortie_lieu');
        //             // Replace current position field ...
        //             $lieu.replaceWith(
        //                 // ... with the returned one from the AJAX response.
        //                 $(html).find('#sortie_lieu')
        //             );
        //             // Position field now displays the appropriate lieux.
        //         }
        //     });
        // });
    </script>
{% endblock %}
