{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css" type="text/css">
{% endblock %}
{% block titre %}Créer une sortie{% endblock %}

{% block body %}
    {{ form_start(sortieForm) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.dateHeureDebut) }}
            {{ form_row(sortieForm.dateLimiteInscription) }}
            {{ form_row(sortieForm.nbInscriptionsMax) }}
            {{ form_row(sortieForm.duree) }}
            {{ form_row(sortieForm.infosSortie,{ 'attr': {'rows': '4'} }) }}
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="campus_div">Site organisateur</label>
                <div id="campus_div" class="form-control-plaintext text-dark">{{ app.user.campus.nom }}</div>
            </div>
            {{ form_row(sortieForm.ville) }}
            <div class="form-group">
                {{ form_label(sortieForm.lieu) }}
                <div class="form-row">
                    <div class="col-10">
                        {{ form_widget(sortieForm.lieu) }}
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-primary m-0" data-toggle="modal" data-target="#lieuModal">+</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="rue">Rue</label>
                <div id="rue" class="form-control-plaintext text-dark">&nbsp;</div>
            </div>
            <div class="form-group">
                <label for="code_postal">Code postal</label>
                <div id="code_postal" class="form-control-plaintext text-dark">&nbsp;</div>
            </div>
            <div class="form-group">
                <label for="latitude">Latitude</label>
                <div id="latitude" class="form-control-plaintext text-dark">&nbsp;</div>
            </div>
            <div class="form-group">
                <label for="longitude">Longitude</label>
                <div id="longitude" class="form-control-plaintext text-dark">&nbsp;</div>
            </div>
            <div id="map" style="width: 100%; height: 400px;"></div>
        </div>
    </div>
    <div class="col">
        <button type="submit" name="enregistrer" class="btn btn-primary">Enregistrer</button>
        <button type="submit" name="publier" class="btn btn-primary">Publier la sortie</button>
        <button type="button" name="annuler" class="btn btn-primary bouton-annuler">Annuler</button>
    </div>
    {{ form_end(sortieForm) }}

    <div class="modal fade" id="lieuModal" tabindex="-1" aria-labelledby="lieuModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lieuModalLabel">Nouveau lieu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="lieuForm">
                    {% include 'lieu/nouveau.html.twig' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
    <script type="text/javascript">
        let source = new ol.source.Vector({wrapX: false});

        let vector = new ol.layer.Vector({
            source: source,
        });

        let attribution = new ol.control.Attribution({
            collapsible: false
        });

        let map = new ol.Map({
            controls: ol.control.defaults({attribution: false}),
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }),
                vector
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([0, 0]),
                zoom: 1
            })
        });

        let draw; // global so we can remove it later
        function addInteraction() {
            draw = new ol.interaction.Draw({
                source: source,
                type: 'Point',
            });
            map.addInteraction(draw);
        }
        // addInteraction();

        let layer;
        function addMarker(lat, long) {
            map.removeLayer(layer);
            layer = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: [
                        new ol.Feature({
                            geometry: new ol.geom.Point(ol.proj.fromLonLat([long, lat]))
                        })
                    ]
                })
            });
            map.addLayer(layer);
            map.setView(new ol.View({
                center: ol.proj.fromLonLat([long, lat]),
                zoom: 10
            }));
        }

        function resetView() {
            map.removeLayer(layer);
            map.setView(new ol.View({
                center: ol.proj.fromLonLat([0, 0]),
                zoom: 1
            }));
        }
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        let $ville = $('#sortie_ville');
        let $lieuVille = $('#lieu_ville');
        let $lieu = $('#sortie_lieu');
        let $lieuModal = $('#lieuModal');
        let $lieuForm = $('#lieuForm');
        let $nouveauLieuSubmit = $('#submit_lieu');

        $nouveauLieuSubmit.on('click', submitLieuForm);

        $lieuVille.prop('selectedIndex', $ville.prop('selectedIndex'));

        $lieuVille.change(function() {
            $ville.val($lieuVille.val());
        });

        $ville.change(function() {
            let value = $ville.val();
            if (value !== undefined && value !== '') {
                $lieuVille.val(value);
                let $url = Routing.generate('api_ville_get_lieu', {id: value});
                $.ajax({
                    url : $url,
                    type: 'GET',
                    success: function(data) {
                        if (data.length > 0) {
                            $lieu.prop('disabled', false);
                            $lieu.html('<option value="">Sélectionnez un lieu</option>');
                            for (let lieu in data) {
                                $lieu.append('<option value="'+ data[lieu].id +'">'+ data[lieu].nom +'</option>')
                            }
                        } else {
                            $lieu.html('<option value="">Aucun lieu</option>');
                            $lieu.prop('disabled', true);
                        }
                    }
                });
            } else {
                $lieu.html('<option value="">Aucun lieu</option>');
                $lieu.prop('disabled', true);
            }
            $lieu.val('');
            $lieu.change();
        });

        $lieu.change(function() {
            let value = $lieu.val();
            if (value !== undefined && value !== '') {
                let $url = Routing.generate('api_lieu_get', {id: $lieu.val()});
                $.ajax({
                    url: $url,
                    type: 'GET',
                    success: function (response) {
                        if (response.status === 'OK') {
                            $('#rue').html(response.data.rue);
                            $('#code_postal').html(response.data.ville.codePostal);
                            $('#latitude').html(response.data.latitude);
                            $('#longitude').html(response.data.longitude);
                            addMarker(response.data.latitude, response.data.longitude);
                        } else {
                            $('#rue').html('&nbsp;');
                            $('#code_postal').html('&nbsp;');
                            $('#latitude').html('&nbsp;');
                            $('#longitude').html('&nbsp;');
                            resetView()
                        }
                    },
                    error: function () {
                        $('#rue').html('&nbsp;');
                        $('#code_postal').html('&nbsp;');
                        $('#latitude').html('&nbsp;');
                        $('#longitude').html('&nbsp;');
                        resetView()
                    }
                });
            } else {
                $('#rue').html('&nbsp;');
                $('#code_postal').html('&nbsp;');
                $('#latitude').html('&nbsp;');
                $('#longitude').html('&nbsp;');
                resetView()
            }
        });

        function submitLieuForm() {
            $ville.val($lieuVille.val());
            let $url = Routing.generate('api_lieu_nouveau', {});
            let data = {};
            data['nom'] = $('#lieu_nom').val();
            data['rue'] = $('#lieu_rue').val();
            data['latitude'] = $('#lieu_latitude').val();
            data['longitude'] = $('#lieu_longitude').val();
            data['ville'] = $('#lieu_ville').val();
            data['_token'] = $(`#lieu__token`).val();
            $.ajax({
                url : $url,
                type: 'POST',
                data: JSON.stringify(data),
                success: function(response) {
                    $lieuForm.html(response.data.form);

                    $lieuVille = $('#lieu_ville');
                    $lieuVille.change(function() {
                        $ville.val($lieuVille.val());
                    });
                    $nouveauLieuSubmit = $('#submit_lieu');
                    $nouveauLieuSubmit.on('click', submitLieuForm);

                    if (response.status === 'OK') {
                        $lieuModal.modal('toggle');
                        $lieu.prop('disabled', false);
                        $lieu.append('<option value="'+response.data.lieu.id+'">'+response.data.lieu.nom+'</option>');
                        $('#sortie_lieu option[value="' + response.data.lieu.id + '"]').prop('selected', true);
                        $lieu.change();
                        $('#lieu_nom').val('');
                        $('#lieu_rue').val('');
                        $('#lieu_latitude').val('');
                        $('#lieu_longitude').val('');
                    }
                }
            });
        }
        $lieu.change();
    </script>
{% endblock %}
